[submodule "extern/lib3mf"]
	path = extern/lib3mf
	url = git@github.com:3MFConsortium/lib3mf
[submodule "extern/pmp-library"]
	path = extern/pmp-library
	url = git@github.com:dash-orlando/pmp-library
[submodule "extern/ImGuiFileDialog"]
	path = extern/ImGuiFileDialog
	url = git@github.com:aiekick/ImGuiFileDialog.git
[submodule "ImGuiFileDialog/"]
	branch = Lib_Only
